#boton-cache { 
    background-color: lightblue;
}

#boton-piloto { 
    background-color: green;
}
#clear-button{
    background-color: red;
}

#input-piloto { 
    background-color: white;
    padding-top: 20px;
}
body {
    background-color: aqua;
    justify-content: center;
    padding-left: 2%;
}